 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About the Company</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <p>The Boston Board Game Company is creating new software technology that
                    revolutionizes the digital board game experience.</p>

                    <p>The platform is purpose-built to redefine how board games are played
                    on every device.</p>
                </div>
                <div class="col-lg-2"></div>
                <div class="col-lg-5">
                    <p>We are dedicated to helping publishers effectively
                    monetize their existing intellectual property and provide
                    board game enthusiasts new, engaging ways to play
                    their favorite hobby or Euro-style board games.</p>
                </div>
            </div>
        </div>
    </section>