
    <!-- Portfolio Grid Section -->
    <section id="software">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Innovative Software</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 text-center">
                    <p>We are creating a new digital board game platform to help
                    publishers monetize their intellectual property and create
                    brand new experiences for their customers.</p>
                    <div style="padding-top: 30px;">
                        <img src="img/logo_lg.png" width="60" alt="">
                    </div>
                </div>
                <div class="col-lg-1">
                    &nbsp;
                </div>
                <div class="col-lg-5">
                    <img class="img-rounded img-responsive" src="img/action.png" alt="">
                </div>
            </div>
            <div class="row" style="padding-top: 80px;">
                <div class="col-lg-3">
                    <img class="img-rounded img-responsive" src="img/laptop_action.png" alt="">
                </div>
                <div class="col-lg-1">
                    &nbsp;
                </div>
                <div class="col-lg-6 text-center">
                    <p>Our cross-platform software solution allows board game enthusiasts
                    to play anywhere they are - Phone, Tablet, and Laptop. Seamlessly
                    shift from one device to another without friction.</p>
                    <div style="padding-top: 20px;">
                        <img src="img/logo_lg.png" width="60" alt="">
                    </div>
                </div>
            </div>

            <div class="row" style="padding-top: 80px;">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-6 text-center">
                    <p>Our software brings board games into the modern digital era.
                    Play when you have a few minutes to spare, or game the entire
                    afternoon.
                    </p>
                    <p>
                    Candy Crush, Clash of Clans, and Words with Friends allow
                    mobile gamers to play on their own schedule.</p>
                    <p>Our software translates multi-hour board games into natural mobile experiences while preserving the strategic and intellectual qualities of 
                    hobby and Euro-style board gaming.</p>
                    <div style="padding-top: 10px;">
                        <img src="img/logo_lg.png" width="60" alt="">
                    </div>
                </div>
                <div class="col-lg-3">
                </div>
            </div>
        </div>
    </section>